files:
  "/etc/nginx/conf.d/client_max_body_size.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;  # Allow file uploads up to 20MB
      client_body_buffer_size 512k;  # Increase buffer size to 512KB
      proxy_buffer_size 512k;  # Increase proxy buffer size
      proxy_buffers 4 512k;  # Increase number and size of proxy buffers
      proxy_busy_buffers_size 512k;  # Increase busy buffer size
      types_hash_max_size 2048;  # Increase types hash max size
      types_hash_bucket_size 128;  # Increase types hash bucket size

container_commands:
  01_reload_nginx:
    command: "service nginx reload"